.home-container {
  text-align: center;
  color: #252422;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.home-container span{
  font-size: 2rem;
  color: #777;
}
.home-container .heart {
  color: red;
  font-size: 3rem;
}
