.menu-container{
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    box-shadow: 0 7px 29px 0 rgba(97,97,194,.2);
    max-width: 600px;
    padding: 2rem;
    background-color: #fff;
}
.menu-container h1{
    font-size: 1.9rem;
    margin: 1rem;
}
.button-container{
    margin: 1rem;
}
.button-container span{
    font-size: 1.8rem;
    color: #3c096c;
}
.card-styles a{
    background-color: #dfdfdf;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    align-items: center;
    font-size: 1.1rem;
    text-decoration: none;
}

.card-styles a:hover {
    background-color:  #9d8189;
}